body {
    margin: 0;
    padding: 0;
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: aliceblue;
    height: 70px;
}

.topBar .sideBarButton {
    background-color: aliceblue;
    margin-right: 20px;
    border-color: white;
}

.topBar .logoButton {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.topBar .userButton {
    background-color: aliceblue;
    border-color: white;
}

.topBar .userButton img {
    border-radius: 40px;
    width: 24px;
    height: 24px;
}

.posts {position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 100%;
    justify-content: center;
}

/* Style for the post container */
.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* Center the content horizontally */
    width: 600px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* Adjust this as needed */
}

/* Style for the heading container */
.heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5px;
    /* Add some spacing between title and distance */
    border-bottom: 1px solid #ccc;
    /* Add a separator line between title and content */
}

/* Style for the title element */
.title {
    flex: 1;
    /* Expand to fill available space */
}

/* Style for the distance element */
.distance {
    margin-left: 10px;
    /* Add some spacing between title and distance */
    color: #888;
    /* Optionally, adjust the color for distance */
}

/* Style for the contents element */
.contents {
    margin-top: 10px;
    /* Add some spacing */
}